In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
from data_import import clean_and_save_data, load_data

# Data Preparation

Firstly, you have to properly process data from pickle files. Use `clean_and_save_data`

In [23]:
df_user, df_movie = clean_and_save_data()

`df1` and `df2` will be saved to csv files. After running `clean_and_save_data`. For further analysis you can simply run `load_data` method

In [20]:
df_user, df_movie = load_data()

In [21]:
df_user.head()

        User            Title  Year  Rating
0  79villemo  Cząstki kobiety  2020     7.0
1  79villemo   Palmy w śniegu  2015     7.0
2  79villemo    Małe kobietki  2019     8.0
3  79villemo    Kwiat pustyni  2009     7.0
4  79villemo               To  2017     6.0

In [7]:
df_user.nunique()

User       313
Title     7777
Rating      10
dtype: int64

In [8]:
len(df_user)

37119

In [9]:
df_movie.head()

,Title,Year,Genre,Actor,Avg_rating,Number_of_ratings
0,Cząstki kobiety,2020,Dramat,Vanessa Kirby,7.1,26670
1,Cząstki kobiety,2020,Dramat,Shia LaBeouf,7.1,26670
2,Palmy w śniegu,2015,Dramat,Mario Casas,7.6,17870
3,Palmy w śniegu,2015,Dramat,Adriana Ugarte,7.6,17870
4,Małe kobietki,2019,Melodramat,Saoirse Ronan,7.4,69798

In [10]:
df_movie.nunique()

Title                7777
Year                  111
Genre                 101
Actor                7274
Avg_rating            538
Number_of_ratings    8740
dtype: int64

In [11]:
len(df_movie)

36739